@model OnLineChatDomain.ClinicDoctorModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>医生端</title>

    
    <link href="~/Scripts/styles/reset.min.css" rel="stylesheet"/>
    <link href="~/Scripts/styles/doctorstyle.css" rel="stylesheet" />
    <link href="~/Scripts/styles/jquery-ui.css" rel="stylesheet" />

</head>
<body>

    <span id="doctor_sign_in_btn">医生登录</span>

    <div id="doctor_dialog" title="输入出诊信息" style="display:none">
        <p>医生员工号&nbsp; <input type="text" id="doctor_id_text" value=@Model.DoctorID /></p>
        <p>医生姓名&nbsp; <input type="text" id="doctor_name_text" value="王仲" /></p>
        <p>就诊科室&nbsp; <input type="text" id="dept_id_text" value=@Model.DeptID /></p>
        <p>就诊日期&nbsp; <input type="text" id="visit_date_text" value=@Model.VisitDate /></p>
        <p>诊别&nbsp; <input type="text" id="reg_type_text" value=@Model.RegisterType /></p>
        <hr />
        <span id="sign_in_btn">确定</span>
    </div>



    <div class="wrapper">
        <div class="container">
            <div class="left">
                <div class="top">
                    <span id="connection_status" class="connection">
                    </span>
                    <input type="text" placeholder="搜索" />
                    <a href="javascript:;" class="search"></a>
                </div>
                <!--患者列表-->
                <ul class="people" id="the_people_container"></ul>
            </div>
            <div class="right">
                <div class="top"> 
                    <span class="name" id="current_patient"></span>
                    <span class="hidden" id="current_patient_id_span"></span>
                </div>
                @*<div id="current_patient_div" class="c">

                </div>*@
                <!--内容存放地点-->
                
                <div class="write">
                    

                    <label id="chat-tuxiang" title="发送图片" for="inputImage" class="write-link attach">
                        <input type="file" accept="image/gif,image/jpeg,image/jpg,image/png"
                               name="file" id="inputImage" class="hidden">
                    </label>

                    <input type="text"  id="send_message" />
                </div>
            </div>
        </div>
    </div>




        <script src="~/Scripts/chatScript/jquery.js"></script>
        <script src="~/Scripts/chatScript/jquery-ui.js"></script>
        <script src="~/Scripts/chatScript/doctorJS.js"></script>
</body>
</html>
